@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #130623;
    --foreground: #ffffff;
}

body {
    background: var(--background);
    color: var(--foreground);
    /* Smooth scrolling for the whole site */
    scroll-behavior: smooth;
}